{
  "extends": "@mujo",
  "rules": {
    "@typescript-eslint/no-angle-bracket-type-assertion": "off",
    "import/no-extraneous-dependencies": "off",
    "guard-for-in": "off",
    "prefer-spread": "off",
    "no-undef": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
